{% extends 'blog/base.html' %}
{% block content %}

      <div class="post">
          {% if post.created_date %}
          <div class="date">
              <p>published: {{ post.created_date }}</p>
          </div>
          {% endif %}
          {% if user.is_authenticated %}
            {% if request.user == post.author %}
              <div class="btn-group" >
                <a href="{% url 'post_remove' pk=post.pk %}" class="top-menu">
                  <button type="button" class="btn btn-default">Delete</button>
                </a>

                <a href="{% url 'post_edit' pk=post.pk %}" class="top-menu">
                  <button type="button" class="btn btn-default">Edit</button>
                </a>
              </div>
            {% endif %}
          {% endif %}

          <h2>{{ post.title }}</h2>
          <div class = "author">
            <p>author : {{ post.author| linebreaksbr }}</p>
          </div>
          <div class="content">
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
      </div>

      <hr>
      {% if user.is_authenticated %}
         <p><a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a></p>
      {% endif %}
      {% for comment in post.comments.all %}
        <div class="comment">
          <div class="date">{{ comment.created_date }}</div>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.text | linebreaks }}</p>
          {% if request.user == comment.author %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">Delete</a>
          {% endif %}
        </div>
      {% empty %}
        <p>No comments yet</p>
      {% endfor %}
{% endblock %}
